# Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


# Loading Dataset

In [2]:
df=pd.read_csv(r"C:\Users\lenovo\Desktop\New folder (3)\Project Session\Linkedin project\playstoreliveproj\playstore_reviews.csv")

In [3]:
df.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

In [4]:
df.shape

(64295, 5)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64295 entries, 0 to 64294
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     64295 non-null  object
 1   Translated_Review       37427 non-null  object
 2   Sentiment               37432 non-null  object
 3   Sentiment_Polarity      37432 non-null  float64
 4   Sentiment_Subjectivity  37432 non-null  float64
dtypes: float64(2), object(3)
memory usage: 2.5+ MB

**Dropping the duplicate rows**

In [6]:
df.drop_duplicates(keep=False,inplace=True)

In [7]:
df.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
202,104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室,Almost mobile phone,Neutral,0.000000,0.000000
203,104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室,"Very effective, efficient convenient find avai...",Positive,0.626667,0.666667
204,104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室,Easy intuitive,Positive,0.433333,0.833333
205,104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室,good searching job internship,Positive,0.700000,0.600000
206,104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室,"Not bad, price little bit expensive",Negative,-0.112500,0.622222

In [8]:
df.shape

(24327, 5)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24327 entries, 202 to 64230
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     24327 non-null  object
 1   Translated_Review       24254 non-null  object
 2   Sentiment               24259 non-null  object
 3   Sentiment_Polarity      24259 non-null  float64
 4   Sentiment_Subjectivity  24259 non-null  float64
dtypes: float64(2), object(3)
memory usage: 1.1+ MB

**Dropping all the null values as they would be of no use here**

In [10]:
df.dropna(inplace=True)

In [11]:
df.shape

(24254, 5)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24254 entries, 202 to 64230
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     24254 non-null  object
 1   Translated_Review       24254 non-null  object
 2   Sentiment               24254 non-null  object
 3   Sentiment_Polarity      24254 non-null  float64
 4   Sentiment_Subjectivity  24254 non-null  float64
dtypes: float64(2), object(3)
memory usage: 1.1+ MB

**Checking for unique values**

In [13]:
df["App"].value_counts()

Facebook                                              128
Be A Legend: Soccer                                    98
Bible                                                  95
Arrow.io                                               95
Family Locator - GPS Tracker                           95
                                                     ...
Best Ovulation Tracker Fertility Calendar App Glow      1
Draw a Stickman: EPIC 2                                 1
Caf - Mon Compte                                        1
Daily Workouts - Exercise Fitness Routine Trainer       1
Hily: Dating, Chat, Match, Meet & Hook up               1
Name: App, Length: 824, dtype: int64

In [14]:
df["Sentiment"].unique()

array(['Neutral', 'Positive', 'Negative'], dtype=object)

**Saving file to csv format**

In [15]:
file=df.to_csv('Playstore Reviews.csv')